{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

<div class="collection-container page-width">
  <div class="collection-title">
    <h2>{{ section.settings.title }}</h2>
  </div>

  <ul class="products-container">
    {% for item in section.settings.collection.products %}
      <li class="product-card">
        <a href="{{ item.url }}" class="product-link">
          <div class="product-image">
            <img src="{{ item.featured_image | img_url: 'master' }}" alt="{{ item.title }}" height="250" width="250">
          </div>
          <div class="product-info">
            <p class='product-title'>{{ item.title }}</p>
            <p class='product-price'>{{ item.price | money }}</p>
            <ul class='product-color'></ul>
          </div>
        </a>
      </li>
    {%  endfor %}
  </ul>
  {% render 'all-products-button' %}
</div>

{% schema %}
{
  "name": "Custom Collection Martijn",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Check out our"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Base Collection"
    },
    {
      "type": "text",
      "id": "all-products-button",
      "label": "All products link",
      "default": "See all products"
    },
    {
      "type": "url",
      "id": "all-products-button-url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Martijn"
    }
  ]
}
{% endschema %}
