{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}
<script defer src="{{ 'swatches.js' | asset_url }}"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    {% comment %} console.log(window.colors); {% endcomment %}

    document.querySelectorAll('.variant-color').forEach(variantElement => {

      console.log(variantElement);
      const colorName = variantElement.dataset.colorName;

      console.log(colorName);

      // Zoek naar een overeenkomstige kleur in de colors array
      const colorMatch = window.colors.find(color => color[colorName]);

      if (colorMatch) {
        // Als er een match is, log of voer de benodigde actie uit
        const hexValue = colorMatch[colorName];
        {% comment %} console.log(`Match gevonden: Kleur naam: ${colorName}, Hex waarde: ${hexValue}`); {% endcomment %}

        // Optioneel: Voeg een stijl toe aan de variant om aan te geven dat er een match is
        variantElement.style.backgroundColor = hexValue;
        variantElement.style.color = '#fff'; // Voor de leesbaarheid
      }
    });
  });
</script>

<div class="collection-container page-width">
  <div class="collection-title">
    <h2>{{ section.settings.title }}</h2>
  </div>

  <ul class="products-container">
    {% for item in section.settings.collection.products %}
      <li class="product-card">
        <a href="{{ item.url }}" class="product-link">
          <div class="product-image-container">
            <img src="{{ item.featured_image | img_url: 'master' }}" class="product-image primary-image" alt="{{ item.title }}" height="250" width="250">
            <img src="{{ item.images[1].src | img_url: 'master' }}" class="product-image secondary-image" alt="{{ item.title }}">
          </div>
          <div class="product-info">
            <h4 class='product-title'>{{ item.title }}</h4>
            <p class='product-price'>{{ item.price | money }}</p>
    
            <ul class='product-color'>
              {% for variant in item.variants %}
                {% assign color = variant.option1 | downcase %}
                <li class="variant-color" data-color-name="{{ color }}">{{ color | capitalize }}</li>
              {% endfor %}
            </ul>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  {% render 'all-products-button' %}
</div>

{% schema %}
{
  "name": "Custom Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Check out our"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Base Collection"
    },
    {
      "type": "text",
      "id": "all-products-button",
      "label": "All products link",
      "default": "See all products"
    },
    {
      "type": "url",
      "id": "all-products-button-url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection"
    }
  ]
}
{% endschema %}
