<div class="collection-container page-width">
  <div class="collection-title">
    <h1>{{ section.settings.title }}</h1>
  </div>

  <ul class="products-container">
    {% for item in section.settings.collection.products %}
      <li class="product-card">
          <div class="product-image">
            <img src="{{ item.featured_image | img_url: 'master' }}" alt="{{ item.title }}" height="250" width="250">
          </div>
          <div class="product-info">
            <p class='product-title'>{{ item.title }}</p>
            <p class='product-price'>{{ item.price | money }}</p>
            <ul class='product-color'>
              {% for color in item.variants %}
                <li>{{ color.title }}</li>
              {% endfor %}
            </ul>
          </div>
      </li>
    {%  endfor %}
  </ul>
  {% render 'all-products-button' %}
</div>


<style>
  .collection-title h1 {
    text-align: center;
  }

  .products-container ul, .products-container li {
    list-style-type: none;
  }

  .products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
  }

  .product-card {
    flex: 1 0 calc( 25% - 80px);
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-info p {
    margin: 0;
    font-weight: bold;
    text-align: center;
  }

  .product-color {
    padding: 0;
  }
</style>

{% schema %}
{
  "name": "Custom Collection Martijn",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Check out our"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Base Collection"
    },
    {
      "type": "text",
      "id": "all-products-button",
      "label": "All products link",
      "default": "See all products"
    },
    {
      "type": "url",
      "id": "all-products-button-url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Collection Martijn"
    }
  ]
}
{% endschema %}
