{{ 'custom-header.css' | asset_url | stylesheet_tag }}

<div class="custom-header" x-data="{ mobileMenuOpen: true }">
  <div class="container">
    <div class="content">
      <div class="logo">
        <h1 class="">{{ shop.name }}</h1>
      </div>

      <div class="hamburger-menu">
        <button type="button" class="hamburger-icon">
            {% render 'icon-menu' %}
        </button>
      </div>

      <nav x-data="{ open: false }" class="">
        {% for link in linklists.main-menu.links %}
          {% if link.links != blank %}
            <button x-on:click="open=!open" type="button">
              {{ link.title }}
              {% render 'icon-dropdown' %}
            </button>
              
            <div x-show="open" @click.away="open=false">
              {% for sublink in link.links %}
              <a href="{{ sublink.url }}">
                <p>
                  {{ sublink.title }}
                </p>
              </a>
              {% endfor %}
            </div>
          {% else %}
            <a href="{{ link.url }}" class="">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="action-links">
        <a href="{{ routes.account_login_url }}" class="header-icon" id="search-icon">
          {% render 'icon-search' %}
        </a>

        <a href="{{ routes.account_register_url }}" class="header-icon" id="account-icon">
          {% render 'icon-account' %}
        </a>
        <a href="{{ routes.cart_url }}" class="header-icon" id="shopping-cart">
          {% render 'icon-shopping-bag' %}
        </a>
      </div>
    </div>
  </div>
</div>