{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}
{{ 'section-swiper-slider.css' | asset_url | stylesheet_tag }}

<section class="swiper-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% if section.settings.slide_text1 %}
            <div class="swiper-slide">
              <h3>{{ section.settings.slide_text }}</h3>
            </div>
        {% endif %}
        {% if section.settings.slide_text2 %}
            <div class="swiper-slide">
              <h3>{{ section.settings.slide_text }}</h3>
            </div>
        {% endif %}
        {% if section.settings.slide_text3 %}
            <div class="swiper-slide">
              <h3>{{ section.settings.slide_text }}</h3>
            </div>
        {% endif %}
        {% if section.settings.slide_image %}
          <div class="swiper-slide">
            <img src="{{ section.settings.slide_image | img_url: 'original' }}" alt="Slide image" height="100%" width="100%">
          </div>
        {% endif %}
      </div>
    </div>
</section>

{% schema %}
{
    "name": "Swiper Slider",
    "settings": [
    {
        "type": "text",
        "id": "slide_text",
        "label": "Slide Text 1"
    },
    {
        "type": "text",
        "id": "slide_text2",
        "label": "Slide Text 2"
        },
    {
        "type": "text",
        "id": "slide_text3",
        "label": "Slide Text 3"
    },
    {
        "type": "image_picker",
        "id": "slide_image",
        "label": "Slide Image"
    }
  ],
    "presets": [
        {
            "name": "Custom slider",
            "category": "Custom"
        }
    ]
}
{% endschema %}


