{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.js' | asset_url | script_tag }}
{{ 'swiper-init.js' | asset_url | script_tag }}
{{ 'section-swiper-slider.css' | asset_url | stylesheet_tag }}

<section class="swiper-slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% if section.settings.slide_text1 %}
            <div class="swiper-slide">
                <div class="slide-text">
                    <h3>{{ section.settings.slide_text1 }}</h3>
                </div>
            </div>
        {% endif %}
        {% if section.settings.slide_text2 %}
            <div class="swiper-slide">
                <div class="slide-text">
                    <h3>{{ section.settings.slide_text2 }}</h3>
                </div>
            </div>
        {% endif %}
        {% if section.settings.slide_text3 %}
            <div class="swiper-slide">
                <div class="slide-text">
                    <h3>{{ section.settings.slide_text3 }}</h3>
                </div>
            </div>
        {% endif %}
      </div>
    </div>
</section>

{% schema %}
{
    "name": "Swiper Slider",
    "settings": [
        {
            "type": "text",
            "id": "slide_text1",
            "label": "Slide Text 1"
        },
        {
            "type": "text",
            "id": "slide_text2",
            "label": "Slide Text 2"
            },
        {
            "type": "text",
            "id": "slide_text3",
            "label": "Slide Text 3"
        }
    ],
    "presets": [
        {
            "name": "Custom slider",
            "category": "Custom"
        }
    ]
}
{% endschema %}