<h1> {{ article.title }} </h1>

<small> {{ article.author }} </small>

<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

<img src="{{ article.img | img_url: 'master' }}" alt="{{ article.img.alt }}">

<div class="">{{ article.content }}</div>