<h1> {{ article.title }} </h1>

<small> {{ article.author }} </small>

<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

{% comment %} <img src="{{ article.img | img_url: 'lazy' }}" alt="{{ article.img.alt }}"> {% endcomment %}

<div class="">{{ article.content }}</div>